<<<<<<< HEAD
/* Reseteo básico */
=======
:root {
    --primary-blue: #1545E6;
    --secondary-blue: #1589E6;
    --gradient-blue: linear-gradient(180deg, rgba(21, 135, 230, 0.80) 0%, #1545E6 100%);
    --purple-background: #6B15E6;
    --warrior-button-blue: #2715E6;
    --white: #FFFFFF;
    --text-light: #FFFDFD;
    --input-text-color: rgba(255, 255, 255, 0.73);
}

>>>>>>> Developer
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

<<<<<<< HEAD
/* Estilos generales */
body {
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
=======
body {
    font-family: 'Rubik', sans-serif;
    background: var(--gradient-blue);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Asegura que el contenido se distribuya dejando el footer abajo */
    color: var(--white);
>>>>>>> Developer
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(21, 135, 230, 0.80) 0%, #1545E6 100%);
}

/* Header */
.header {
    width: 100%;
    height: 76px;
    background: linear-gradient(90deg, #1545E6 0%, #1589E6 100%);
    display: flex;
    align-items: center;
    padding: 0 110px;
}

logo {
    color: #1545E6;
     font-size: 32px;
     font-family: 'Rubik One', sans-serif;
     font-weight: 400;
     background-color: rgba(255, 255, 255, 0);
     padding: 0 10px;
     border-radius: 4px;
 }
 
/* Main Content */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.success-message {
    color: white;
    font-size: 32px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    line-height: 34.5px;
    text-align: center;
    margin-bottom: 60px;
}

.action-button-container {
    display: flex;
    justify-content: center;
}

.action-button {
    width: 277px;
    height: 68px;
    background: #15C9E6;
    border-radius: 50px;
    border: none;
    color: white;
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    line-height: 34.5px;
    cursor: pointer;
    text-align: center;
    padding: 5px 15px;
    transition: background-color 0.3s ease;
}

.action-button:hover {
    background-color: #13b5cf;
}

.linea {
    position: relative;
    width: 100%;
}

.linea::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #15C9E6;
    margin: 15px 0;
}

<<<<<<< HEAD
/* Footer */
.footer {
    width: 100%;
    background: linear-gradient(270deg, #154FE6 0%, #1587E6 17%, #156EE6 77%, #1545E6 100%);
    padding: 20px 0;
    border-top: 1px solid #15C9E6;
=======
footer {
    margin-top: auto; /* Empuja el footer hacia abajo */
    background: linear-gradient(270deg, #154FE6 0%, #1587E6 17%, #156EE6 77%, #1545E6 100%);
    color: var(--white);
    padding: 40px 0;
    text-align: center;
    width: 100%;
    flex-shrink: 0; 
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info p,
.copyright p {
    font-size: 14px;
    font-weight: 300;
    margin: 5px 0;
}

.copyright:hover {
    font-weight: bold;
>>>>>>> Developer
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
<<<<<<< HEAD
    padding: 0 110px;
=======
>>>>>>> Developer
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
<<<<<<< HEAD
}

.footer-logo {
    color: #1545E6;
    font-size: 20px;
    font-family: 'Rubik One', sans-serif;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: left; /* Alineación izquierda */
}
.logoMini {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 300px;
    height: 30px;
    display: block;
    margin: 0 auto; /* Centrado horizontal */
    margin-top: 20px;
}

.footer-contact {
    margin-bottom: 20px;
}

.footer-content p:hover {
    font-weight: bold;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    transition: transform 0.3s ease; /* Transición suave */
}

.contact-item:hover .icon {
    transform: scale(1.2) rotate(5deg);
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
}

.contact-item:hover .contact-text {
    font-weight: bold;
    color: #ffffff;
    transition: color 0.3s ease, font-weight 0.3s ease;
}

.icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-icon {
    width: 10.38px;
    height: 15.31px;
    background-color: white;
}

.email-icon {
    width: 16px;
    height: 12.25px;
    background-color: white;
}

.contact-text {
    color: #FFFDFD;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

.copyright {
    color: #FFFDFD;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    text-align: center;
    margin-top: 50px;
    transition: color 0.3s ease, font-weight 0.3s ease;
}

.copyright:hover {
    font-weight: bold;
    color: #ffffff;
}



=======
    padding: 0 50px;
}

.footer-content .logo {
    background-image: url('/Responsive_Habitale/Logos/Logo_Habitale.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    width: 230px;
    height: 70px;
    margin-left: -15px;
}

.logoUbicacion {
    background-image: url('/Responsive_Habitale/Logos/Logo_lugar.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    width: 290px;
    height: 18px;
    margin: 0 auto;
    display: block;
    transform: translateX(-55%);
}

.logoCorreo {
    background-image: url('/Responsive_Habitale/Logos/Logo_correo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    width: 290px;
    height: 18px;
    margin: 0 auto;
    display: block;
    transform: translateX(-55%);
}

.contact-info1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.5;
    margin-left: 20px;
}

.contact-info1:hover {
    font-weight: bold;
}

.contact-info2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 60px;
    font-size: 14px;
    line-height: 1.5;
    margin-left: 20px;
}

.contact-info2:hover {
    font-weight: bold;
}

.linea {
    position: relative;
    width: 100%;
}

.linea::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #15C9E6;
    margin: 15px 0;
}

.logoMini {
    background-image: url('/Responsive_Habitale/Logos/Logo_mini.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    width: 300px;
    height: 30px;
    margin: 0 auto;
    display: block;
    bottom: 2px;
}

>>>>>>> Developer
/* Responsive Adjustments */
@media (max-width: 400px) {
    .footer-content {
        padding: 0 20px;
    }

    .footer-content .logo {
        width: 200px;
        height: 60px;
    }

    .logoUbicacion,
    .logoCorreo,
    .logoMini {
        width: 200px;
    }
}