:root {
    --primary-blue: #1545E6;
    --secondary-blue: #1589E6;
    --purple-background: #6B15E6;
    --avatar-box-color: #480BA0;
    --white: #FFFFFF;
    --text-light: #FFFDFD;
    --light-blue: #156EE6;
    --purple: #6B15E6;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    background: linear-gradient(180deg, rgba(21, 135, 230, 0.80) 0%, #1545E6 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente */
    justify-content: space-between; /* Distribuir contenido uniformemente */
    overflow-x: hidden; /* Evitar scroll horizontal */
}

/* Header styles */
header {
    background: linear-gradient(90deg, #1545E6 0%, #1589E6 100%);
    height: 76px;
    display: flex;
    align-items: center;
    padding: 0 50px;
    position: relative;
    gap: 10px;
    width: 100%;
    flex-shrink: 0;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 200px;
    height: 60px;
}

/* Banner styles */
.banner {
    width: 930px;
    height: 92px;
    background-color: #2B00AB;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0 40px 0;
    padding: 0 8px;
    margin-left: 0; /* Asegura que el margen izquierdo sea 0 */
    align-self: flex-start; /* Alinea el banner completamente a la izquierda */
}

.banner-text {
    color: rgba(255, 255, 255, 0.78);
    font-size: 32px;
    font-weight: 600;
    line-height: 34.5px;
    text-align: center;
}

/* Main content styles */
main {
    flex-grow: 1; /* Hacer que el contenido principal ocupe el espacio disponible */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar verticalmente el contenido principal */
    align-items: center;
    width: 100%;
}

.section-container {
    width: 1000px;
    margin: 0 auto;
    background-color: #64acec;
    margin-bottom: 20px;
}

.section-header {
    width: 100%;
    height: 108px;
    background-color: #2715E6;
    display: flex;
    align-items: center;
    padding-left: 60px;
}

.section-title {
    color: white;
    font-size: 40px;
    font-weight: 600;
    line-height: 34.5px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 60px;
}

.image-container {
    margin: 20px 0;
}

.section-image {
    width: 509px;
    height: 382px;
}

.text-content {
    padding: 20px 60px;
    color: black;
    font-size: 20px;
    font-weight: 400;
    line-height: 34.5px;
}

.text-content p {
    margin-bottom: 20px;
}

/* CTA Button styles */
.cta-container {
    display: flex;
    justify-content: center;
    margin: 50px auto;
}

.cta-button {
    width: 260px;
    height: 82px;
    background-color: #6B15E6;
    color: white;
    font-size: 32px;
    font-weight: 400;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    transition: background-color 0.3s ease;
    display: flex; /* Asegura que el contenido esté centrado */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    text-align: center; /* Asegura que el texto esté centrado */
    line-height: 1.2; /* Ajusta el espaciado del texto */
    padding: 0 20px; /* Añade espacio interno para evitar que el texto se corte */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    text-decoration: none;
}

.cta-button:hover {
    background-color: #5710c2;
}

/* Footer styles */
footer {
    background: linear-gradient(270deg, #154FE6 0%, #1587E6 17%, #156EE6 77%, #1545E6 100%);
    color: var(--text-light);
    padding: 40px 0;
    text-align: center;
    margin-top: auto;
    position: relative;
    width: 100%;
    flex-shrink: 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 0 50px;
}

.footer-content .logo {
    background-image: url('/Responsive_Habitale/Logos/Logo_Habitale.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    width: 230px;
    height: 70px;
    margin-left: -15px;
}

.contact-info1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.5;
    margin-left: 20px;
}

.contact-info1:hover {
    font-weight: bold;
}

.contact-info2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 60px;
    font-size: 14px;
    line-height: 1.5;
    margin-left: 20px;
}

.contact-info2:hover {
    font-weight: bold;
}

.linea {
    position: relative;
    width: 100%;
}

.linea::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #15C9E6;
    margin: 15px 0;
}

.logoUbicacion {
    background-image: url('/Responsive_Habitale/Logos/Logo_lugar.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    width: 290px;
    height: 18px;
    margin: 0 auto;
    display: block;
    transform: translateX(-55%);
}

.logoCorreo {
    background-image: url('/Responsive_Habitale/Logos/Logo_correo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    width: 290px;
    height: 18px;
    margin: 0 auto;
    display: block;
    transform: translateX(-55%);
}

.logoMini {
    background-image: url('/Responsive_Habitale/Logos/Logo_mini.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    width: 300px;
    height: 30px;
    margin: 0 auto;
    display: block;
    bottom: 2px;
}

.contact-info {
    margin-bottom: 10px;
}

.contact-info p,
.copyright p {
    font-size: 14px;
    font-weight: 300;
}
.copyright:hover {
    font-weight: bold;
}

.text-content ul li {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 34.5px;
    margin-left: 30px;
    padding: 10px;
}

@media (max-width: 400px) {

    .banner {
        width: 100%;
        height: auto;
        font-size: 24px;
        padding: 10px;
    }

    .section-container {
        width: 100%;
        height: 100%;
        padding: 0px;
    }

    .text-content {
        padding: 10px;
        font-size: 16px;
    }

    .section-title {
        font-size: 28px;
    }

    .cta-button {
        width: 200px;
        height: 60px;
        font-size: 24px;
    }

    footer {
        padding: 20px;
        font-size: 12px;
    }
}

